// $bg-color: #2d3142;
// $shadow-color: #4f5d75;
// $dark-shadow-color: #bfc0c0;
// $font-color: #fff;
// $border-color: #ef8354;

// $bg-color: #fff;
// $shadow-color: #ADADAD;
// $dark-shadow-color: #616161;
// $font-color: #000;
// $border-color: #E6A1A1;

// $bg-color: #fff;
// $shadow-color: #D9E0D5;
// $dark-shadow-color: #8A9485;
// $font-color: #000;
// $border-color: #859492;

$font-color: #404040;
$dark-shadow-color: #e0e0e0;
$shadow-color: #4d4d4d;
$bg-color: #fff;
$border-color: #296150;

