{% include 'incl/header.twig' %}

<body>
{% include 'incl/nav.twig' %}
<div class="main" role="main">
    {{ content }}
    {% for page in pages("analysis")|reverse if not page.hidden %}
        <a href="{{ page.url }}">
            <div class="analysis-box">

                <div>
                    <h2>
                        {{ page.title }}
                    </h2>
                    <p class="excerpt">{{ page.description }}</p>
                </div>
            </div>
        </a>

    {% endfor %}
</div>

{% include 'incl/footer.twig' %}
</body></html>
