{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}
	<div class="tech-container">
		<div class="tech-nav">
			<h2>Navigation</h2>
			<ul class="nav-list">
				{% for page in pages("analysis")|reverse if not page.hidden %}
					<li class="nav-item">
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="main technology" role="main">
			{{ content }}
		</div>
	</div>

	{% include 'incl/footer.twig' %}
	</body>
	</html>
