{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}
	<div class="main" role="main">
		{{ content }}
		{% for page in pages("technology")|reverse if not page.hidden %}
			<div class="tech">
				<h3>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</h3>
				<p class="excerpt">{{ page.description }}</p>
			</div>
		{% endfor %}
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
